<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>WhatsApp Clone</title>
</head>
<body>
    <!-- Use the layout.ejs-->
    <%- include("sidebar")  %>
    <div class="content">
        <div class="message__header">
            <h3 id="message__header-name"><%= roomId %></h3>
            <button id="addMember">
                Add member
            </button>
        </div>
        <div class="message__body">

        </div>
        <div class="message__input">
            <input id="inputRoom" type="text" placeholder="Type a message">
        </div>
        
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var roomId = "<%= roomId %>";
    console.log(roomId);
    const messageBody = document.querySelector(".message__body");
    // create a div class message__item with a p tag inside with the text coucou
    function addMessage(text){
        const messageItem = document.createElement("div");
        messageItem.classList.add("message__item");
        const messageText = document.createElement("p");
        messageText.innerText = text;
        messageItem.appendChild(messageText);
        messageBody.appendChild(messageItem);
    }
    // get the input and when I click on enter I want to add a message
    const socket = io();

    /* function joinRoom() {
        const room = document.getElementById('room').value;
        socket.emit('join', room);
    } */
    socket.emit('join', roomId);

    /* function sendMessage() {
        const message = document.getElementById('message').value;
        const room = document.getElementById('room').value;
        socket.emit('roomMessage', room, message);
    } */

    socket.on('message', (message) => {
        addMessage(message);
    });

    const inputRoom = document.querySelector("#inputRoom");
    inputRoom.addEventListener("keyup", (e) => {
        if(e.key === "Enter"){
            socket.emit("roomMessage", roomId, e.target.value);
            e.target.value = "";
        }
    })
</script>
</html>
