<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>WhatsApp Clone</title>
</head>
<body>
    <!-- Use the layout.ejs-->
    <%- include("sidebar")  %>
    <div class="content">
        <div class="message__header">
            <h3 id="message__header-name"><%= roomId %></h3>
            <div class="message__header__buttons">
                <button id="addMember">
                    Add member
                </button>
                <button id="changeRoomName">
                    Change room name
                </button>
                <button id="leaveRoom">
                    Leave room
                </button>
            </div>
        </div>
        <div class="message__body">

        </div>
        <div class="message__input">
            <input id="inputRoom" type="text" placeholder="Type a message">
        </div>
        
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var roomId = "<%= roomId %>";
    console.log(roomId);
    const messageBody = document.querySelector(".message__body");
    // create a div class message__item with a p tag inside with the text coucou
    function addMessage(text){
        const messageItem = document.createElement("div");
        messageItem.classList.add("message__item");
        const messageText = document.createElement("p");
        messageText.innerText = text;
        messageItem.appendChild(messageText);
        messageBody.appendChild(messageItem);
    }

    const socket = io();

    socket.emit('join', roomId);

    socket.on('message', (message) => {
        addMessage(message);
    });

    const inputRoom = document.querySelector("#inputRoom");
    inputRoom.addEventListener("keyup", (e) => {
        if(e.key === "Enter"){
            socket.emit("roomMessage", roomId, e.target.value);
            e.target.value = "";
        }
    })

    const addMember = document.querySelector("#addMember");
    const changeRoomName = document.querySelector("#changeRoomName");
    const leaveRoom = document.querySelector("#leaveRoom");

    addMember.addEventListener("click", () => {
        const username = prompt("Enter the username of the user you want to add");
    })

    changeRoomName.addEventListener("click", () => {
        const name = prompt("Enter the new name of the room");
        socket.emit("changeRoomName", roomId, name);
    })

    leaveRoom.addEventListener("click", () => {
        socket.emit("leaveRoom", roomId);
    })
</script>
</html>
