<aside class="sidebar">
    <div class="sidebar__options">
        <button id="add-room">
            Add Room
        </button>
        <button id="join-room">
            Join Room
        </button>
    </div>
    <div class="sidebar__search">
        <input id="sidebar__search--bar" type="search" placeholder="Search or start a new conversation">
    </div>
    <div class="sidebar__conversations">
        <!-- <div class="sidebar__conversations__item">
            <h3>Name</h3>
        </div> -->
    </div>
    <button id="logout">
        Logout
    </button>
</aside>
<script>
    var rooms = [];
    var addRoom = document.querySelector("#add-room");
    var sidebarConversations = document.querySelector(".sidebar__conversations");
    var sidebarSearchBar = document.querySelector("#sidebar__search--bar");
    var logout = document.querySelector("#logout");

    function addConversation(name, id){
        // create a div class sidebar__conversations__item with an h3 and an p inside
        // append it to sidebarConversations
        var sidebarConversations = document.querySelector(".sidebar__conversations");
        sidebarConversations.innerHTML += `
            <a href="/room/${id}" class="sidebar__conversations__item id="${id}">
                <h3>${name}</h3>
            </a>
        `;
    }
    
    fetch("http://localhost:3000/api/rooms", {
        method : "GET",
        headers : {
            "x-auth-token" : localStorage.getItem("token"),
        }
    }).then(res => res.json())
    .then(data => {
        if (data){
            rooms = data;
            data.forEach(room => {
                addConversation(room.name, room._id);
            })
        }
    })

    addRoom.addEventListener("click", () => {
        fetch("http://localhost:3000/api/rooms", {
            method : "POST",
            // header with token
            body : JSON.stringify({
                name : "Room 1"
            }),
            headers : {
                "x-auth-token" : localStorage.getItem("token"),
            }
        })
        .then(res => {
            if (res.status == 200){
                return res.json();
            }
            else {
                throw new Error("Error: " + res.status);
            }
        })
        .then(data => {
            if (data){
                console.log(data)
                rooms.push(data);
                addConversation(data.name, data._id);
            }
        })
    })

    var joinRoom = document.querySelector("#join-room");
    joinRoom.addEventListener("click", () => {
        var invite_link = prompt("Enter the link of the invite");
        fetch(invite_link, {
            // header with token
            headers : {
                "x-auth-token" : localStorage.getItem("token"),
            }
        }).then(res => {
            if (res.status == 200){
                return res.json();
            }
            else {
                throw new Error("Error: " + res.status);
                alert("Error: " + res.status);
            }
        })
        .then(data => {
            if (data){
                console.log(data)
                // reload the page
            }
        })
        .then(() => window.location.reload())
    })

    sidebarSearchBar.addEventListener("keyup", (e) => {
        if (e.key === "Enter"){
            var search = e.target.value;
            var filteredRooms = rooms.filter(room => room.name.includes(search));
            sidebarConversations.innerHTML = "";
            filteredRooms.forEach(room => {
                addConversation(room.name, room._id);
            })
        }
    })

    logout.addEventListener("click", () => {
        localStorage.removeItem("token");
        window.location.href = "/login";
    })
</script>