<aside class="sidebar">
    <div class="sidebar__options">
        <button id="add-room">
            Add room
        </button>
    </div>
    <div class="sidebar__search">
        <input type="search" placeholder="Search or start a new conversation">
    </div>
    <div class="sidebar__conversations">
        <!-- <div class="sidebar__conversations__item">
            <h3>Name</h3>
        </div> -->
    </div>
</aside>
<script>
    var rooms = [];
    var addRoom = document.querySelector("#add-room");
    var sidebarConversations = document.querySelector(".sidebar__conversations");
    
    function addConversation(name, id){
        // create a div class sidebar__conversations__item with an h3 and an p inside
        // append it to sidebarConversations
        var sidebarConversations = document.querySelector(".sidebar__conversations");
        sidebarConversations.innerHTML += `
            <a href="/room/${id}" class="sidebar__conversations__item id="${id}">
                <h3>${name}</h3>
            </a>
        `;
    }
    
    fetch("http://localhost:3000/api/rooms", {
        method : "GET",
        headers : {
            "x-auth-token" : localStorage.getItem("token"),
        }
    }).then(res => res.json())
    .then(data => {
        if (data){
            rooms = data;
            data.forEach(room => {
                addConversation(room.name, room._id);
            })
        }
    })


    

    addRoom.addEventListener("click", () => {
        fetch("http://localhost:3000/api/rooms", {
            method : "POST",
            // header with token
            body : JSON.stringify({
                name : "Room 1"
            }),
            headers : {
                "x-auth-token" : localStorage.getItem("token"),
            }
        })
        .then(res => {
            if (res.status == 200){
                return res.json();
            }
            else {
                throw new Error("Error: " + res.status);
            }
        })
        .then(data => {
            if (data){
                console.log(data)
                rooms.push(data);
                addConversation(data.name, data._id);
            }
        })
    })
</script>