<aside class="sidebar">
    <div class="sidebar__options">

    </div>
    <div class="sidebar__search">
        <input type="search" placeholder="Search or start a new conversation">
    </div>
    <div class="sidebar__conversations">
        <!-- <div class="sidebar__conversations__item">
            <h3>Name</h3>
            <p>Message</p>
        </div> -->
    </div>
</aside>