body {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #111B21;
    border-right: #374a55 1px solid;
}

.sidebar__options {
    height: 70px;
    width: 100%;
    background-color: #202C33;
}

.sidebar__search {
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.sidebar__search input[type="search"] {
    background-color: #202C33;
    border: none;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
}

.sidebar__conversations {
    height: calc(100% - 120px);
    width: 100%;
    overflow-y: scroll;
}

.sidebar__conversations__item {
    height: 60px;
    width: 97%;
    padding: 5px;
    cursor: pointer;
    border-bottom: #202C33 1px solid;
    display: block;
    text-decoration: none;
}

.sidebar__conversations__item:hover {
    background-color: #202C33;
}

.sidebar__conversations__item h3 {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

.sidebar__conversations__item p {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.content {
    margin-left: 400px;
    width: 100%;
    position: relative;
    height: 100vh;
    background-color:#0B141A ;
}

.message__header {
    height: 70px;
    width: 97.3%;
    background-color: #202C33;
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}

#addMember {
    margin-right: 50px;
}

.message__header h3 {
    color: #fff;
    font-size: 18px;
}

.message__input {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;
    background-color: #202C33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__input input {
    height: 40px;
    width: 95%;
    background-color: #2A3942;
    border: none;
    border-radius: 10px;
    padding-left:  10px;
}

.message__body {
    height: calc(100% - 150px);
    width: 100%;
    overflow-y: scroll;
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.message__item {
    height: 60px;
    width: 99%;
    padding: 5px;
    cursor: pointer;
    border-bottom: #202C33 1px solid;
}

.message__item__left {
    height: 60px;
    width: 99%;
    padding: 5px;
    cursor: pointer;
    border-bottom: #202C33 1px solid;
    display: flex;
    flex-direction: row-reverse;
}

.message__item:hover {
    background-color: #202C33;
}

.message__item__left:hover {
    background-color: #202C33;
}

.message__item p {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.message__item__left p {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}